.html-overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 5; /* Above canvas, below errors */
    overflow: hidden;
}

.html-overlay-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    transition: none; /* Let animations be handled by JS for smoothness */
}