.html-thumbnail-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: #111;
}

.html-thumbnail-iframe {
    width: 100%;
    height: 100%;
    border: none;
    pointer-events: none;
    user-select: none;
}

.url-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-variant-color);
    color: var(--secondary-color);
}
