.modal-preview-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 1rem;
    max-height: 250px;
    overflow-y: auto;
    background-color: var(--background-color);
    padding: 1rem;
    border: 1px solid var(--border-color);
    margin-top: 1rem;
    min-height: 100px;
}

.modal-staged-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
}

.modal-staged-item-thumbnail {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    background-color: #000;
    border: 1px solid var(--border-color);
}

.model-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-variant-color);
    color: var(--secondary-color);
}


.modal-staged-item input {
    width: 100%;
    padding: 0.4rem;
    font-size: 0.8rem;
}

.modal-staged-item-remove-btn {
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: rgba(10, 10, 10, 0.7);
    color: var(--secondary-color);
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    line-height: 1;
    z-index: 10;
}

.modal-staged-item-remove-btn:hover {
    background-color: var(--error-color);
    color: white;
}